.flowerHeading {
  text-align: center;
  color: orange;
  font-weight: 200;
  font-size: 35px;
  margin-right: 50px;
}

.flowerImage {
  height: 600px;
  width: auto;
}

.flowerDetails {
  padding: 40px;
}

.inlineElements {
  display: flex;
  font-size: 20px;
}

.linkList {
  margin-top: 50px;
}
